:root {
  --font: sans-serif;
  --rem: 16px;

  --paper: white;
  --paper-row: #fafafa;
  --ink-bold: black;
  --ink: #222;
  --ink-light: lightgray;

  --accent-light: lavender;
  --accent: rebeccapurple;
  --accent-hover: mediumpurple;
  --accent-active: darkorchid;

  --button-bg: seashell;
  --button-bg-hover: papayaWhip;
  --button-bg-pressed: moccasin;

  --surface-light: seashell;
  --selection: papayaWhip;

  --border: #ececec;
}


@media (prefers-color-scheme:dark) {
  :root {
      --paper: #242424;
      --paper-row: #202020;

      --ink-bold: #fff;
      --ink: #ccc;
      --ink-light: #999;

      --accent-light: peachPuff;
      --accent: sandyBrown;
      --accent-hover: chocolate;
      --accent-active: sienna;

      --button-bg: #363636;
      --button-bg-hover: #484848;
      --button-bg-pressed: #565656;

      --surface-light: #323232;
      --selection: darkSlateBlue;

      --border: #444;
  }
}


* {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
}

::-moz-selection {
  color: var(--ink-bold);
  background: var(--selection);
}

::selection {
  color: var(--ink-bold);
  background: var(--selection);
}


* {
  padding: 0;
  margin: 0;
  border: none;
}

html,
body {
  background: var(--paper);
  font-size: var(--rem);
  font-family: var(--font);
  /* overflow-x: hidden; */
}

.main_layout {
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  padding: 2rem;
}

#center {
  position: absolute;
  color: var(--ink);
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

