/* LIST ITEMS */
.cm-s-uxmap span.cm-variable-2 {
  color: var(--ink-light);
}

/* CODE BLOCKS */
.cm-s-uxmap span.cm-comment {
  color: var(--ink-light);
}

/* LINK URL */
.cm-s-uxmap span.cm-string {
  color: var(--accent-hover);
}

/* HEADER */
.cm-s-uxmap span.cm-header {
  color: var(--accent);
}

/* LINK LABELS and CHECKBOXES */
.cm-s-uxmap span.cm-link {
  color: var(--ink-bold);
  text-decoration: none;
}

.cm-s-uxmap {
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  font-family: var(--font);
}

.CodeMirror {
  background-color: var(--paper);
  color: var(--ink);
}

.CodeMirror-code {
  background-color: transparent;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 2px solid var(--ink);
}

.CodeMirror-selected {
  background-color: var(--selection) !important;
}
